<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acesso Negado</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="~{layout :: header}"></div>

    <main>
        <h3>Acesso Negado (Erro 403)</h3>
        <hr/>
        <div class="error-message">
            <p>Desculpe, você não tem permissão para acessar esta página.</p>
        </div>
        <a th:href="@{/veiculos}" class="button-link">Voltar para a página inicial</a>
    </main>

    <div th:replace="~{layout :: footer}"></div>
</body>
</html>