<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${logradouro.id == null} ? 'Novo Endereço' : 'Editar Endereço'"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="~{layout :: header}"></div>

    <main>
        <h3 th:text="${logradouro.id == null} ? 'Cadastrar Novo Endereço' : 'Editar Endereço'"></h3>
        <form th:action="@{/logradouros/save}" th:object="${logradouro}" method="post">
            <input type="hidden" th:field="*{id}" />
    
            <div>
                <label for="nomeLogradouro">Endereço (Rua, Av., etc.):</label>
                <input type="text" id="nomeLogradouro" th:field="*{nomeLogradouro}" />
                <span style="color:red;" th:if="${#fields.hasErrors('nomeLogradouro')}" th:errors="*{nomeLogradouro}"></span>
            </div>
            
            <div>
                <label for="numeroLogradouro">Número:</label>
                <input type="text" id="numeroLogradouro" th:field="*{numeroLogradouro}" />
                <span style="color:red;" th:if="${#fields.hasErrors('numeroLogradouro')}" th:errors="*{numeroLogradouro}"></span>
            </div>

            <div>
                <label for="cep">CEP (só números):</label>
                <input type="text" id="cep" th:field="*{cep}" />
                <span style="color:red;" th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}"></span>
            </div>

             <div>
                <label for="complemento">Complemento (Opcional):</label>
                <input type="text" id="complemento" th:field="*{complemento}" />
            </div>
            
            <div>
                <label for="cidade">Cidade:</label>
                <select id="cidade" th:field="*{cidade.id}"> 
                    <option value="">Selecione uma cidade</option>
                    <option th:each="c : ${todasCidades}"
                            th:value="${c.id}"
                            th:text="${c.nomeCidade + ' - ' + c.estado.siglaEstado}">
                    </option>
                </select>
                <span style="color:red;" th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"></span>
            </div>
            
            <button type="submit">Salvar</button>
            <a th:href="@{/logradouros}" style="margin-left: 10px;">Cancelar</a>
        </form>
    </main>

    <div th:replace="~{layout :: footer}"></div>
</body>
</html>