<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} ?: 'Gestão Mottu'"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <header th:fragment="header">
        <h2>Sistema de Gerenciamento Mottu</h2>
		<nav>
            <a th:href="@{/dashboard}" sec:authorize="hasRole('ADMIN')">Dashboard</a>
            <span sec:authorize="hasRole('ADMIN')">|</span>
            <a th:href="@{/veiculos}">Veículos</a>
            <span sec:authorize="hasRole('ADMIN')">|</span>
            <a th:href="@{/patios}" sec:authorize="hasRole('ADMIN')">Pátios</a>
			<span sec:authorize="hasRole('ADMIN')">|</span>
			<a th:href="@{/logradouros}" sec:authorize="hasRole('ADMIN')">Endereços</a>
        </nav>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Sair</button>
        </form>
    </header>

    <main>
    </main>
    
    <footer th:fragment="footer">
        <p>&copy; 2025 - Challenge Mottu</p>
    </footer>
</body>
</html>