<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Lista de Veículos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="~{layout :: header}"></div>

    <main>
        <h3>Frota de Veículos</h3>
        
        <div style="margin-bottom: 15px;">
            <a th:href="@{/veiculos/new}" class="button-link add">Adicionar Novo Veículo</a>
        </div>
        
        <div th:if="${message}" class="success-message" th:text="${message}"></div>
        <div th:if="${error}" class="error-message" th:text="${error}"></div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Placa</th>
                    <th>Tipo</th>
                    <th>Pátio Atual</th> <th>Ações</th> </tr>
            </thead>
            <tbody>
                <tr th:if="${veiculos.isEmpty()}">
                    <td colspan="5">Nenhum veículo encontrado.</td>
                </tr>
                <tr th:each="veiculo : ${veiculos}">
                    <td th:text="${veiculo.id}">1</td>
                    <td th:text="${veiculo.placaNova}">BRA2E19</td>
                    <td th:text="${veiculo.tipoVeiculo}">Moto</td>
                    <td th:text="${veiculo.patio?.nome ?: 'Sem Pátio'}">Pátio Central</td>
                    <td>
                        <a th:href="@{/veiculos/edit/{id}(id=${veiculo.id})}">Editar</a>
                        |
                        <a th:href="@{/veiculos/delete/{id}(id=${veiculo.id})}">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
   </main>

    <div th:replace="~{layout :: footer}"></div>
</body>
</html>